<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100}.%line -%msg%n" />
	<property name="CONSOLE_LOG_PATTERN" value="${PATTERN}" />
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<jmxConfigurator />
	<springProperty scope="context" name="proLogLevel" source="pro.logging.level"/>
	<springProperty scope="context" name="devLogLevel" source="dev.logging.level"/>
	<appender name="fileLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.rootPath}/logCenterServer/logCenterServer.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.rootPath}/logCenterServer/logCenterServer.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev,pr">
		<logger name="com.ower.dsyz" level="${devLogLevel}" />
		<logger name="com.ibatis" level="${devLogLevel}" />
		<logger name="java.sql" level="${devLogLevel}" />
		<logger name="java.sql.Connection" level="${devLogLevel}" />
		<logger name="java.sql.Statement" level="${devLogLevel}" />
		<logger name="java.sql.PreparedStatement" level="${devLogLevel}" />
		<!-- 根logger的设置 -->
		<root>
			<level value="INFO" /><!-- logback建议只使用FATAL ,ERROR ,WARN ,INFO 
				,DEBUG这五个级别。 -->
			<appender-ref ref="fileLog" value="${devLogLevel}" />
		</root>
	</springProfile>
	
	<!-- 生产环境. -->
	<springProfile name="pro,px">
		<logger name="com.ower.dsyz" level="${proLogLevel}" />
		<logger name="com.ibatis" level="${proLogLevel}" />
		<logger name="java.sql" level="${proLogLevel}" />
		<logger name="com.getsentry.raven" level="INFO" />
		<logger name="com.apache.ibatis" level="${proLogLevel}" />
		<logger name="java.sql.Connection" level="${proLogLevel}" />
		<logger name="java.sql.Statement" level="${proLogLevel}" />
		<logger name="java.sql.PreparedStatement" level="${proLogLevel}" />
		<!-- 根logger的设置 -->
		<root>
			<level value="INFO" /><!-- logback建议只使用FATAL ,ERROR ,WARN 
				,INFO ,DEBUG这五个级别。 -->
			<appender-ref ref="fileLog" value="${proLogLevel}" />
			<appender-ref ref="Sentry" value="${proLogLevel}" />
		</root>
	</springProfile>

</configuration>  